﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Producto.ProductoViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Editar Producto</strong>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="panel-body pan">
                <div class="form-body pal">
                    <form data-bind="submit: Editar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Codigo</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().codigo" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-medkit"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().nombre" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Laboratorio</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-h-square"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().laboratorio" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Generico</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-stethoscope"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().generico" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Unidad de Medida</label>
                                    <div class="input-icon right">
                                        <select class="form-control" required data-bind="options: ListaUnidadMedida,
                                                                                             optionsText: 'UnidadMedida',
                                                                                             optionsValue: 'idUnidadMedida',
                                                                                             value: ProductoEditar().idUnidadMedida">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Precio de Venta</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-money"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().precioVenta" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Precio de Compra</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-money"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().precioCompra" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Stock Minimo</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-inbox"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().StockMinimo" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Ubicacion</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-map-marker"></i>
                                        <input id="" type="text" data-bind="value: ProductoEditar().ubicacion" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <div class="input-icon right">
                                        <textarea id="" rows="5" data-bind="value: ProductoEditar().descripcion" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <button type="submit" class="btn btn-primary">
                                Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    ko.extenders.numeric = function (target, precision) {
        var result = ko.computed({
            read: target,
            write: function (newValue) {
                var current = target(),
                    roundingMultiplier = Math.pow(10, precision),
                    newValueAsNum = isNaN(newValue) ? 0 : parseFloat(+newValue),
                    valueToWrite = Math.round(newValueAsNum * roundingMultiplier) / roundingMultiplier;
                if (valueToWrite !== current) {
                    target(valueToWrite);
                } else {
                    if (newValue !== current) {
                        target.notifySubscribers(valueToWrite);
                    }
                }
            }
        }).extend({ notify: 'always' });
        result(target());
        return result;
    };

    function ProductoBE(i) {
        var self = this;
        self.idProducto = ko.observable(i.idProducto); self.codigo = ko.observable(i.codigo); self.nombre = ko.observable(i.nombre);
        self.laboratorio = ko.observable(i.laboratorio); self.generico = ko.observable(i.generico); self.idUnidadMedida = ko.observable(i.idUnidadMedida);
        self.UnidadMedida = ko.observable(i.UnidadMedida); self.precioVenta = ko.observable(i.precioVenta).extend({ numeric: 2 }); self.precioCompra = ko.observable(i.precioCompra).extend({ numeric: 2 });
        self.StockMinimo = ko.observable(i.StockMinimo).extend({ numeric: 1 }); self.ubicacion = ko.observable(i.ubicacion);
        self.descripcion = ko.observable(i.descripcion); self.StockActual = ko.observable(i.StockActual);
        self.StockAlmacen = ko.observable(i.StockAlmacen);
    }

    function ViewModel(model) {
        var self = this;
        self.ListaUnidadMedida = ko.observableArray(model.ListUnidadMedida);
        self.ProductoEditar = ko.observable(new ProductoBE(model.Producto));
        self.Editar = function () {
            var data = ko.toJSON({ Producto: self.ProductoEditar });
            $.ajax({
                url: '@Url.Action("Editar", "Producto")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        DivAlert('S', result.mensaje);
                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                }
            });
        }
}

var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
