﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Producto.ProductoViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bandeja Productos</strong>
    </div>
    <div class="panel-body">
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Nombre" data-bind="value: NombreFilter" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Generico" data-bind="value: GenericoFilter" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Laboratorio" data-bind="value: LaboratorioFilter" class="form-control">
                        </div>
                        <button class="btn btn-grey">Buscar</button>
                    </div>
                    <div class="navbar-form navbar-right">
                        <button class="btn btn-grey" onclick="MostrarVistaDiv('Producto/Producto/Registrar')">Nuevo</button>
                    </div>
                </div>
            </div>
        </nav>

        <div class="panel panel-grey">
            <div class="panel-body">
                <table class="table table-hover-color">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre Pro</th>
                            <th>Generico</th>
                            <th>Laboratorio</th>
                            <th>Precio Venta</th>
                            <th>Stock Dispo.</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ProductosUsuariosFiltrados.currentPageData">
                        <tr data-bind="event: {dblclick: $parent.seleccionar}, attr: { class: StatusStock }">
                            <td data-bind="text: codigo"></td>
                            <td data-bind="text: nombre"></td>
                            <td data-bind="text: generico"></td>
                            <td data-bind="text: laboratorio"></td>
                            <td data-bind="text: precioVenta"></td>
                            <td data-bind="text: StockDisponible"></td>
                            <td><i class="fa fa-plus-circle" data-bind="click: $parent.AgregarLote"></i></td>
                            <td><i class="fa fa-pencil-square-o" data-bind="click: $parent.EditarProducto"></i></td>
                            <td><i class="fa fa-trash-o" data-bind="click: $parent.EliminarProducto"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <ul class="pager">
                <li><a href="#" data-bind="click: ProductosUsuariosFiltrados.moveFirst">← Primero</a></li>
                <li><a href="#" data-bind="click: ProductosUsuariosFiltrados.movePrevious">Anterior</a></li>
                <li><a href="#" data-bind="click: ProductosUsuariosFiltrados.moveNext">Siguiente</a></li>
                <li><a href="#" data-bind="click: ProductosUsuariosFiltrados.moveLast">Ultimo →</a></li>
                Pagina    
        <input class="pager" type="number" data-bind="value: ProductosUsuariosFiltrados.currentPage, attr: { 'max': ProductosUsuariosFiltrados.pageCount }" min="1">
                de <span data-bind="text: ProductosUsuariosFiltrados.pageCount"></span>
            </ul>

        </div>
    </div>

    <div id="modal-DetalleProducto" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @* <form data-bind="submit: EditarUsuario">*@
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;</button>
                    <h4 class="modal-title">Detalle Producto</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body pal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Codigo</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().codigo" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-medkit"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().nombre" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Laboratorio</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-h-square"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().laboratorio" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Generico</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-stethoscope"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().generico" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Unidad de Medida</label>
                                        <div class="input-icon right">
                                            <div class="input-icon right">
                                                <select class="form-control" disabled data-bind="options: ListaUnidadMedida,
                                                                                             optionsText: 'UnidadMedida',
                                                                                             optionsValue: 'idUnidadMedida',
                                                                                             value: ProductoSeleccionado().idUnidadMedida">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Precio de Venta</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-money"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().precioVenta" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Precio de Compra</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-money"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().precioCompra" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Stock Minimo</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-inbox"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().StockMinimo" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Ubicacion</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-map-marker"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().ubicacion" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Descripción</label>
                                        <div class="input-icon right">
                                            <textarea id="" rows="5" data-bind="value: ProductoSeleccionado().descripcion" class="form-control" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* </form>*@
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    ko.extenders.paging = function (target, pageSize) {
        var _pageSize = ko.observable(pageSize || 10),
            // default pageSize to 10
            _currentPage = ko.observable(1); // default current page to 1
        target.pageSize = ko.computed({
            read: _pageSize,
            write: function (newValue) {
                if (newValue > 0) {
                    _pageSize(newValue);
                }
                else {
                    _pageSize(10);
                }
            }
        });

        target.currentPage = ko.computed({
            read: _currentPage,
            write: function (newValue) {
                if (newValue > target.pageCount()) {
                    _currentPage(target.pageCount());
                }
                else if (newValue <= 0) {
                    _currentPage(1);
                }
                else {
                    _currentPage(newValue);
                }
            }
        });

        target.pageCount = ko.computed(function () {
            return Math.ceil(target().length / target.pageSize()) || 1;
        });

        target.currentPageData = ko.computed(function () {
            var pageSize = _pageSize(),
                pageIndex = _currentPage(),
                startIndex = pageSize * (pageIndex - 1),
                endIndex = pageSize * pageIndex;

            return target().slice(startIndex, endIndex);
        });

        target.moveFirst = function () {
            target.currentPage(1);
        };
        target.movePrevious = function () {
            target.currentPage(target.currentPage() - 1);
        };
        target.moveNext = function () {
            target.currentPage(target.currentPage() + 1);
        };
        target.moveLast = function () {
            target.currentPage(target.pageCount());
        };

        return target;
    };

    function ProductoBE(i) {
        var self = this;
        self.idProducto = ko.observable(i.idProducto); self.codigo = ko.observable(i.codigo); self.nombre = ko.observable(i.nombre);
        self.laboratorio = ko.observable(i.laboratorio); self.generico = ko.observable(i.generico); self.idUnidadMedida = ko.observable(i.idUnidadMedida);
        self.UnidadMedida = ko.observable(i.UnidadMedida); self.precioVenta = ko.observable(i.precioVenta); self.precioCompra = ko.observable(i.precioCompra);
        self.StockMinimo = ko.observable(i.StockMinimo); self.ubicacion = ko.observable(i.ubicacion);
        self.descripcion = ko.observable(i.descripcion); self.StockMostrador = ko.observable(i.StockMostrador);
        self.StockAlmacen = ko.observable(i.StockAlmacen); self.StockTotal = ko.observable(i.StockTotal);
        self.StockDisponible = ko.observable(i.StockDisponible);
        self.StatusStock = ko.computed(function () {
            return self.StockDisponible() < self.StockMinimo() ? 'danger' : 'success';
        });
    }

    function Producto() {
        var self = this;
        self.idProducto = ko.observable(); self.codigo = ko.observable(); self.nombre = ko.observable(); self.laboratorio = ko.observable();
        self.generico = ko.observable(); self.idUnidadMedida = ko.observable(); self.UnidadMedida = ko.observable();
        self.precioVenta = ko.observable().extend({ numeric: 2 }); self.precioCompra = ko.observable().extend({ numeric: 2 }); self.StockMinimo = ko.observable().extend({ numeric: 1 }); self.ubicacion = ko.observable();
        self.descripcion = ko.observable(); self.StockMostrador = ko.observable(); self.stockAlmacen = ko.observable();
        self.StockTotal = ko.observable();
    }

    function ViewModel(model) {
        var self = this;

        self.ListaProductos = ko.observableArray(ko.utils.arrayMap(model.ListaProductos, function (i) {
            return new ProductoBE(i)
        })).extend({ paging: 15 });

        self.ListaUnidadMedida = ko.observableArray(model.ListUnidadMedida);

        self.EditarProducto = function (i) {
            var url = '@Url.Action("Editar", "Producto")' + '?idProducto=' + i.idProducto();
            MostrarVistaDiv(url);
        }

        self.ProductoSeleccionado = ko.observable(new Producto());

        self.seleccionar = function (item) {
            self.ProductoSeleccionado(item);
            $("#modal-DetalleProducto").modal();
        };

        self.EliminarProducto = function (i) {
            var data = ko.toJSON({ Producto: i });
            $.ajax({
                url: '@Url.Action("Eliminar", "Producto")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        self.ListaProductos.remove(i);
                        DivAlert('S', result.mensaje);
                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                }
            });
        }

        self.AgregarLote = function (i) {
            var url = '@Url.Action("Registrar", "Lote")' + '?idProducto=' + i.idProducto();
            MostrarVistaDiv(url);
        }

        self.NombreFilter = ko.observable("");
        self.GenericoFilter = ko.observable("");
        self.LaboratorioFilter = ko.observable("");

        self.ProductosUsuariosFiltrados = ko.computed(function () {
            return ko.utils.arrayFilter(self.ListaProductos(), function (Pro) {
                var bool = false;
                if ((Pro.generico().indexOf(self.GenericoFilter().toUpperCase()) !== -1 || self.GenericoFilter() == "" || self.GenericoFilter() == undefined)
                    &&
                    (Pro.nombre().indexOf(self.NombreFilter().toUpperCase()) !== -1 || self.NombreFilter() == "" || self.NombreFilter() == undefined)
                    &&
                    (Pro.laboratorio().indexOf(self.LaboratorioFilter().toUpperCase()) !== -1 || self.LaboratorioFilter() == "" || self.LaboratorioFilter() == undefined))
                    bool = true;
                else {
                    bool = false;
                }
                return bool;
            });
        }).extend({ paging: 15 });

        }

        var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
