﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Producto.ProductoViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Registro Producto</strong>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="panel-body pan">
                <div class="form-body pal">
                    <form data-bind="submit: RegistrarProducto">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-medkit"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().nombre" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Laboratorio</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-h-square"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().laboratorio" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Generico</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-stethoscope"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().generico" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Unidad de Medida</label>
                                    <div class="input-icon right">
                                        <select class="form-control" required data-bind="options: ListaUnidadMedida,
                                                                                             optionsText: 'UnidadMedida',
                                                                                             optionsValue: 'idUnidadMedida',
                                                                                             value: ProductoNuevo().idUnidadMedida,
                                                                                             optionsCaption: '--Seleccione--' ">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Precio de Venta</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-money"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().precioVenta" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Precio de Compra</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-money"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().precioCompra" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Stock Minimo</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-inbox"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().StockMinimo" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Ubicacion</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-map-marker"></i>
                                        <input id="" type="text" data-bind="value: ProductoNuevo().ubicacion" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <div class="input-icon right">
                                        <textarea id="" rows="5" data-bind="value: ProductoNuevo().descripcion" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pal">
                            <button type="submit" class="btn btn-primary">
                                Crear Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    ko.extenders.numeric = function (target, precision) {
        var result = ko.computed({
            read: target,
            write: function (newValue) {
                var current = target(),
                    roundingMultiplier = Math.pow(10, precision),
                    newValueAsNum = isNaN(newValue) ? 0 : parseFloat(+newValue),
                    valueToWrite = Math.round(newValueAsNum * roundingMultiplier) / roundingMultiplier;
                if (valueToWrite !== current) {
                    target(valueToWrite);
                } else {
                    if (newValue !== current) {
                        target.notifySubscribers(valueToWrite);
                    }
                }
            }
        }).extend({ notify: 'always' });
        result(target());
        return result;
    };

    function ProductoBE() {
        var self = this;
        self.idProducto = ko.observable(); self.codigo = ko.observable(); self.nombre = ko.observable(); self.laboratorio = ko.observable();
        self.generico = ko.observable(); self.idUnidadMedida = ko.observable(); self.UnidadMedida = ko.observable();
        self.precioVenta = ko.observable().extend({ numeric: 2 }); self.precioCompra = ko.observable().extend({ numeric: 2 }); self.StockMinimo = ko.observable().extend({ numeric: 1 }); self.ubicacion = ko.observable();
        self.descripcion = ko.observable(); self.stockActual = ko.observable(); self.stockAlmacen = ko.observable();
    }

    function ViewModel(model) {
        var self = this;
        self.ListaUnidadMedida = ko.observableArray(model.ListUnidadMedida);
        self.ProductoNuevo = ko.observable(new ProductoBE());

        self.RegistrarProducto = function () {
            var data = ko.toJSON({ Producto: self.ProductoNuevo });
            $.ajax({
                url: '@Url.Action("Registrar", "Producto")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        DivAlert('S', result.mensaje);
                        var url = '@Url.Action("Editar", "Producto")' + '?idProducto=' + result.data.idProducto;
                        MostrarVistaDiv(url);
                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                    self.LimpiarCampos();
                }
            });
        }
    }
    
    var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
