﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Lote.LoteViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bandeja Lotes</strong>
    </div>
    <div class="panel-body">
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Buscar" data-bind="value: Filtrar" class="form-control">
                        </div>
                        <button class="btn btn-grey">Buscar</button>
                    </div>
                    <div class="navbar-form navbar-right">
                        <button class="btn btn-grey" data-bind="click: NuevoLote">Nuevo</button>
                    </div>
                </div>
            </div>
        </nav>

        <div class="panel panel-grey">
            <div class="panel-body">
                <table class="table table-hover-color">
                    <thead>
                        <tr>
                            <th>Codigo Lote</th>
                            <th>Nombre de Producto</th>
                            <th>Stock Total</th>
                            <th>Stock Disponible</th>
                            <th>Fecha Vencimiento</th>
                            <th>Estado Lote</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: LotesFiltrados.currentPageData">
                        <tr data-bind="event: {dblclick: $parent.seleccionar}, attr: { class: StatusLote }">
                            <td data-bind="text: codigoLote"></td>
                            <td data-bind="text: nombre"></td>
                            <td data-bind="text: StockTotal"></td>
                            <td data-bind="text: StockDisponible"></td>
                            <td data-bind="text: moment(fechaVencimiento()).format('L')"></td>
                            <td data-bind="text: EstadoLote"></td>
                            <td><i class="fa fa-pencil-square-o" data-bind="click: $parent.EditarLote, visible: EditValid"></i></td>
                            <td><i class="fa fa-trash-o" data-bind="click: $parent.EliminarLote, visible: EditValid"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <ul class="pager">
                <li><a href="#" data-bind="click: LotesFiltrados.moveFirst">← Primero</a></li>
                <li><a href="#" data-bind="click: LotesFiltrados.movePrevious">Anterior</a></li>
                <li><a href="#" data-bind="click: LotesFiltrados.moveNext">Siguiente</a></li>
                <li><a href="#" data-bind="click: LotesFiltrados.moveLast">Ultimo →</a></li>
                Pagina    
        <input class="pager" type="number" data-bind="value: LotesFiltrados.currentPage, attr: { 'max': LotesFiltrados.pageCount }" min="1">
                de <span data-bind="text: LotesFiltrados.pageCount"></span>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region paginacion
    ko.extenders.paging = function (target, pageSize) {
        var _pageSize = ko.observable(pageSize || 10),
            // default pageSize to 10
            _currentPage = ko.observable(1); // default current page to 1
        target.pageSize = ko.computed({
            read: _pageSize,
            write: function (newValue) {
                if (newValue > 0) {
                    _pageSize(newValue);
                }
                else {
                    _pageSize(10);
                }
            }
        });

        target.currentPage = ko.computed({
            read: _currentPage,
            write: function (newValue) {
                if (newValue > target.pageCount()) {
                    _currentPage(target.pageCount());
                }
                else if (newValue <= 0) {
                    _currentPage(1);
                }
                else {
                    _currentPage(newValue);
                }
            }
        });

        target.pageCount = ko.computed(function () {
            return Math.ceil(target().length / target.pageSize()) || 1;
        });

        target.currentPageData = ko.computed(function () {
            var pageSize = _pageSize(),
                pageIndex = _currentPage(),
                startIndex = pageSize * (pageIndex - 1),
                endIndex = pageSize * pageIndex;

            return target().slice(startIndex, endIndex);
        });

        target.moveFirst = function () {
            target.currentPage(1);
        };
        target.movePrevious = function () {
            target.currentPage(target.currentPage() - 1);
        };
        target.moveNext = function () {
            target.currentPage(target.currentPage() + 1);
        };
        target.moveLast = function () {
            target.currentPage(target.pageCount());
        };

        return target;
    };
    //#endregion
    function LoteBE(i) {
        var self = this;
        self.idLote = ko.observable(i.idLote); self.codigoLote = ko.observable(i.codigoLote); self.idProducto = ko.observable(i.idProducto);
        self.codigoProducto = ko.observable(i.codigoProducto); self.StockMostrador = ko.observable(i.StockMostrador).extend({ numeric: 1 });
        self.StockAlmacen = ko.observable(i.StockAlmacen).extend({ numeric: 1 }); self.fechaVencimiento = ko.observable(i.fechaVencimiento);
        self.cantidad = ko.observable(i.cantidad); self.nombre = ko.observable(i.nombre); self.DiferenciaDias = ko.observable(i.DiferenciaDias);
        self.StockDisponible = ko.observable(i.StockDisponible); self.StockTotal = ko.observable(i.StockTotal);
        self.EstadoLote = ko.observable(i.EstadoLote);
        self.StatusLote = ko.computed(function () {
            if (self.DiferenciaDias() <= 0 || self.StockDisponible() <= 0)
                return 'danger'; //danger
            else if (self.DiferenciaDias() <= 30)
                return 'warning'
            else
                return 'success';
            //return self.DiferenciaDias() <= 30 ? 'danger' : 'success'
        });
        self.EditValid = ko.computed(function () {
            if (self.StockTotal() == self.StockDisponible())
                return true;
            else
                return false;
        });
    }

    function Lote() {
        var self = this;
        self.idLote = ko.observable(); self.codigoLote = ko.observable(); self.idProducto = ko.observable();
        self.codigoProducto = ko.observable(); self.StockMostrador = ko.observable().extend({ numeric: 1 });
        self.StockAlmacen = ko.observable().extend({ numeric: 1 }); self.fechaVencimiento = ko.observable();
        self.cantidad = ko.observable(); self.nombre = ko.observable(); self.StockDisponible = ko.observable();
        self.StockTotal = ko.observable(); self.EstadoLote = ko.observable();
    }

    function ViewModel(model) {
        var self = this;
        self.ListaLotes = ko.observableArray(ko.utils.arrayMap(model.ListaLotes, function (i) {
            return new LoteBE(i)
        })).extend({ paging: 15 });

        self.EditarLote = function (i) {
            var url = '@Url.Action("Editar", "Lote")' + '?idLote=' + i.idLote();
            MostrarVistaDiv(url);
        }

        self.EliminarLote = function (i) {
            var data = ko.toJSON({ Lote: i });
            $.ajax({
                url: '@Url.Action("Eliminar", "Lote")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        self.ListaLotes.remove(i);
                        DivAlert('S', result.mensaje);
                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                    self.LimpiarCampos();
                }
            });
        }

        self.NuevoLote = function () {
            DivAlert('S', 'Seleccione el Producto al que desea agregar el Lote.');
            MostrarVistaDiv('@Url.Action("Index", "Producto")');
        }

        self.Filtrar = ko.observable("");

        self.LotesFiltrados = ko.computed(function () {
            return ko.utils.arrayFilter(self.ListaLotes(), function (Lot) {
                var bool = false;
                if ((Lot.codigoLote().indexOf(self.Filtrar().toUpperCase()) !== -1 ||
                     Lot.nombre().indexOf(self.Filtrar().toUpperCase()) !== -1 ||
                     self.Filtrar() == ""))
                    bool = true;
                else {
                    bool = false;
                }
                return bool;
            });
        }).extend({ paging: 15 });
    }

    var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
