﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Lote.LoteViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Registro Lote</strong>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="panel-body pan">
                <div class="form-body pal">
                    <form data-bind="submit: RegistrarLote">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Codigo Producto</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-medkit"></i>
                                        <input id="" type="text" data-bind="value: NuevoLote().codigoProducto" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Producto</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="" type="text" data-bind="value: NuevoLote().nombre" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Codigo Lote</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-hashtag"></i>
                                        <input id="" type="text" data-bind="value: NuevoLote().codigoLote" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha Vencimiento</label>
                                    <div class="input-icon left">
                                        <i class="fa fa-calendar"></i>
                                        <input id="" type="date" data-bind="value: NuevoLote().fechaVencimiento" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Stock Mostrador</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-inbox"></i>
                                        <input id="" type="text" data-bind="value: NuevoLote().StockMostrador" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Stock Almacen</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-inbox"></i>
                                        <input id="" type="text" data-bind="value: NuevoLote().StockAlmacen" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right pal">
                            <button type="submit" class="btn btn-primary" data-bind="enable: StockTotal() > 0">
                                Crear Lote</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    ko.extenders.numeric = function (target, precision) {
        var result = ko.computed({
            read: target,
            write: function (newValue) {
                var current = target(),
                    roundingMultiplier = Math.pow(10, precision),
                    newValueAsNum = isNaN(newValue) ? 0 : parseFloat(+newValue),
                    valueToWrite = Math.round(newValueAsNum * roundingMultiplier) / roundingMultiplier;
                if (valueToWrite !== current) {
                    target(valueToWrite);
                } else {
                    if (newValue !== current) {
                        target.notifySubscribers(valueToWrite);
                    }
                }
            }
        }).extend({ notify: 'always' });
        result(target());
        return result;
    };

    function LoteBE(i) {
        var self = this;
        self.idLote = ko.observable(i.idLote); self.codigoLote = ko.observable(i.codigoLote); self.idProducto = ko.observable(i.idProducto);
        self.codigoProducto = ko.observable(i.codigoProducto); self.StockMostrador = ko.observable(i.StockMostrador).extend({ numeric: 1 });
        self.StockAlmacen = ko.observable(i.StockAlmacen).extend({ numeric: 1 }); self.fechaVencimiento = ko.observable(i.fechaVencimiento);
        self.cantidad = ko.observable(i.cantidad); self.nombre = ko.observable(i.nombre);
    }

    function ViewModel(model) {
        var self = this;
        
        self.NuevoLote = ko.observable(new LoteBE(model.Lote));
        self.StockTotal = ko.computed(function () {
            return self.NuevoLote().StockAlmacen() + self.NuevoLote().StockMostrador()
        });
        
        self.RegistrarLote = function () {
            var data = ko.toJSON({ Lote: self.NuevoLote });
            $.ajax({
                url: '@Url.Action("Registrar", "Lote")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        DivAlert('S', result.mensaje);
                        var url = '@Url.Action("Editar", "Lote")' + '?idLote=' + result.data.idLote;
                        MostrarVistaDiv(url);
                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                    self.LimpiarCampos();
                }
            });
        }

        }

        var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
