﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Prueba.PruebaViewModel
<div class="panel panel-default">
    <table id="devtable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr data-bind="click: $parent.select">
                <td data-bind="text: idPais"></td>
                <td data-bind="text: Pais"></td>
                <td data-bind="text: Continente"></td>
            </tr>
        </tbody>
    </table>
    ID :
    <input type="text" name="ID" data-bind="value: selected().idPais"  />
    <br>
    Name :
    <input type="text" name="Name" data-bind="value: selected().Pais"  />
    <br>
    Status :
    <input type="text" name="Status" data-bind="value: selected().Continente"  />
    <br>
    <input type="button" data-bind="click: save" value="Send"  />
</div>
<script>

    var rowModel = function (idPais, Pais, Continente) {
        var self = this;
        self.idPais = ko.observable(idPais);
        self.Pais = ko.observable(Pais);
        self.Continente = ko.observable(Continente);
    };

    var myData = [{
        id: "001",
        name: "Jhon",
        status: "Single"
    }, {
        id: "002",
        name: "Mike",
        status: "Married"
    }, {
        id: "003",
        name: "Marrie",
        status: "Complicated"
    }];

    function MyVM(data) {
        var self = this;

        var ss = myData;
        var zz = data.ListaPaises;

        var ssds = new rowModel(22, 'eeww', 'xxx');

        self.items = ko.observableArray(ko.utils.arrayMap(data.ListaPaises, function (i) {
            return new rowModel(i.idPais, i.Pais, i.Continente)
        }));

        self.items.push(ssds);

        var sasd = self.items;

        self.select = function (item) {
            self.selected(item);
        };

        self.selected = ko.observable(new rowModel('', '', ''));

        self.save = function () {
            alert(ko.toJSON(self.selected));
        }
    }

    var model = new MyVM(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);

</script>
