﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Usuario.UsuarioViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bandeja Usuarios</strong>
    </div>
    <div class="panel-body">
        <!-- Navegacion -->
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Usuario" data-bind="value: UsuarioFilter" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Nombre" data-bind="value: NombreFilter" class="form-control">
                        </div>
                        <button class="btn btn-grey">Buscar</button>
                    </div>
                    <div class="navbar-form navbar-right">
                        <button onclick="OpenModal('modal-NuevoUsuario')" class="btn btn-grey">Nuevo</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Fin Navegacion -->

        <!-- Grilla -->
        <div class="panel panel-grey">
            <div class="panel-body">
                <table class="table table-hover-color">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Tipo Usuario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: UsuariosFiltrados">
                        <tr data-bind="event: {dblclick: $parent.seleccionar}">
                            <td data-bind="text: usuario"></td>
                            <td data-bind="text: nombre"></td>
                            <td data-bind="text: apellido"></td>
                            <td data-bind="text: DNI"></td>
                            <td data-bind="text: celular"></td>
                            <td data-bind="text: correo"></td>
                            <td data-bind="text: tipoUsuario"></td>
                            <td><i class="fa fa-trash-o" data-bind="click: $parent.EliminarUsuario"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Fin Grilla -->
    </div>

    <div id="modal-NuevoUsuario" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-bind="submit: RegistrarUsuario">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                            &times;</button>
                        <h4 class="modal-title">Nuevo Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body pal">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Usuario</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-user"></i>
                                                <input data-bind="value: UsuarioNuevo().usuario" id="txtUsuario" type="text" class="form-control" required focus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Correo</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-envelope"></i>
                                                <input data-bind="value: UsuarioNuevo().correo" id="txtCorreo" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-lock"></i>
                                                <input data-bind="value: UsuarioNuevo().password" id="txtPassword" type="password" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Confirm Password</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-lock"></i>
                                                <input data-bind="value: UsuarioNuevo().repassword" id="txtRePassword" type="password" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nombre</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-user"></i>
                                                <input data-bind="value: UsuarioNuevo().nombre" id="txtNombre" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Apellidos</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-user"></i>
                                                <input data-bind="value: UsuarioNuevo().apellido" id="txtApellido" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">DNI</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-credit-card"></i>
                                                <input data-bind="value: UsuarioNuevo().DNI" id="txtDNI" type="text" class="form-control" maxlength="8" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Celular</label>
                                            <div class="input-icon right">
                                                <i class="fa fa-phone"></i>
                                                <input data-bind="value: UsuarioNuevo().celular" id="txtCelular" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tipo de Usuario</label>
                                            <div class="input-icon left">
                                                <select class="form-control" required data-bind="options: ListaTipoUsuario,
                                                                                             optionsText: 'Descripcion',
                                                                                             optionsValue: 'idTipoUsuario',
                                                                                             value: UsuarioNuevo().idTipoUsuario,
                                                                                             Text: UsuarioNuevo().tipoUsuario,
                                                                                             optionsCaption: '--Seleccione--' ">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-circle">
                            <i class="fa fa-check"></i>
                        </button>
                        <button type="button" data-bind="click: Cancel" data-dismiss="modal" class="btn btn-warning btn-circle">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modal-EditarUsuario" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @* <form data-bind="submit: EditarUsuario">*@
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;</button>
                    <h4 class="modal-title">Editar Usuario</h4>
                </div>

                <div class="modal-body">
                    <div class="form-body pal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Usuario</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            <input data-bind="value: UsuarioSeleccionado().usuario" type="text" placeholder="Usuario" class="form-control" required disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Correo</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-envelope"></i>
                                            <input data-bind="value: UsuarioSeleccionado().correo" type="text" placeholder="Correo" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            <input data-bind="value: UsuarioSeleccionado().nombre" type="text" placeholder="Nombre" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Apellidos</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            <input data-bind="value: UsuarioSeleccionado().apellido" type="text" placeholder="Apellidos" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">DNI</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-credit-card"></i>
                                            <input data-bind="value: UsuarioSeleccionado().DNI" type="text" placeholder="DNI" class="form-control" maxlength="8" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Celular</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-phone"></i>
                                            <input data-bind="value: UsuarioSeleccionado().celular" type="text" placeholder="Celular" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Tipo de Usuario</label>
                                        <div class="input-icon left">
                                            <select id="TipoUsuarioEdit" class="form-control" required data-bind="options: ListaTipoUsuario,
                                                                                             optionsText: 'Descripcion',
                                                                                             optionsValue: 'idTipoUsuario',
                                                                                             value: UsuarioSeleccionado().idTipoUsuario">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" data-bind="click: EditarUsuario" class="btn btn-success btn-circle">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" data-bind="click: Cancel" data-dismiss="modal" class="btn btn-warning btn-circle">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                @* </form>*@
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function OpenModal(idModal) {
        $("#" + idModal).modal();
    }

    var UsuarioBE = function () {
        var self = this;
        self.usuario = ko.observable(); self.password = ko.observable(); self.repassword = ko.observable();
        self.DNI = ko.observable(); self.nombre = ko.observable(); self.apellido = ko.observable(); self.celular = ko.observable();
        self.correo = ko.observable(); self.tipoUsuario = ko.observable(); self.idTipoUsuario = ko.observable(); self.idUsuario = ko.observable();
    };

    var UsuarioEditable = function (i) {
        var self = this;
        self.usuario = ko.observable(i.usuario); self.password = ko.observable(i.password); self.repassword = ko.observable(i.repassword);
        self.DNI = ko.observable(i.DNI); self.nombre = ko.observable(i.nombre); self.apellido = ko.observable(i.apellido);
        self.celular = ko.observable(i.celular); self.correo = ko.observable(i.correo);
        self.tipoUsuario = ko.observable(i.tipoUsuario); self.idTipoUsuario = ko.observable(i.idTipoUsuario); self.idUsuario = ko.observable(i.idUsuario);
        ko.editable(self);
    };

    function ViewModel(model) {
        var self = this;

        self.UsuarioFilter = ko.observable("");
        self.NombreFilter = ko.observable("");

        self.ListaTipoUsuario = ko.observableArray(model.ListaTipoUsuario);

        self.ListaUsuarios = ko.observableArray(ko.utils.arrayMap(model.ListaUsuarios, function (i) {
            return new UsuarioEditable(i)
        }));

        self.UsuarioNuevo = ko.observable(new UsuarioBE());

        self.seleccionar = function (item) {
            ko.editable(item);
            item.beginEdit();
            self.UsuarioSeleccionado(item);
            $("#modal-EditarUsuario").modal();
        };

        self.Cancel = function () {
            self.UsuarioSeleccionado().rollback();
        };

        self.ValidPassword = function () {
            if (self.UsuarioNuevo().password() == self.UsuarioNuevo().repassword()) return true;
            return false;
        }

        self.UsuarioSeleccionado = ko.observable(new UsuarioBE());

        self.LimpiarCampos = function () {
            self.UsuarioNuevo(new UsuarioBE());
            $('#modal-NuevoUsuario').modal('toggle');
        }

        self.RegistrarUsuario = function () {
            var data = ko.toJSON({ ObjUsuario: self.UsuarioNuevo });
            if (self.ValidPassword()) {
                $.ajax({
                    url: '@Url.Action("RegistrarUsuario", "Usuario")',
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    data: data,
                    success: function (result) {
                        if (result.ok) {
                            self.ListaUsuarios.push(new UsuarioEditable(result.data));
                            DivAlert('S', result.mensaje);
                        }
                        else {
                            DivAlert('D', result.mensaje);
                        }
                        self.LimpiarCampos();
                    }
                });
        }
        else {
            DivAlert('W', 'las Contraseñas no coinciden');
        }
        }

    self.EditarUsuario = function () {
        for (var i = 0; i < self.ListaTipoUsuario().length; i++) {
            if (self.ListaTipoUsuario()[i].idTipoUsuario == self.UsuarioSeleccionado().idTipoUsuario()) {
                self.UsuarioSeleccionado().tipoUsuario(self.ListaTipoUsuario()[i].Descripcion);
            }
        }
        var data = ko.toJSON({ ObjUsuario: self.UsuarioSeleccionado });
        $.ajax({
            url: '@Url.Action("EditarUsuario", "Usuario")',
            dataType: "json",
            contentType: "application/json",
            type: "POST",
            data: data,
            success: function (result) {
                if (result.ok) {
                    self.UsuarioSeleccionado().commit();
                    DivAlert('S', result.mensaje);
                }
                else {
                    DivAlert('D', result.mensaje);
                    self.UsuarioSeleccionado().rollback();
                }
            }
        });
    }

    self.EliminarUsuario = function (i) {
        var data = ko.toJSON({ ObjUsuario: i });
        $.ajax({
            url: '@Url.Action("EliminarUsuario", "Usuario")',
            dataType: "json",
            contentType: "application/json",
            type: "POST",
            data: data,
            success: function (result) {
                if (result.ok) {
                    self.ListaUsuarios.remove(i);
                    DivAlert('S', result.mensaje);
                }
                else {
                    DivAlert('D', result.mensaje);
                }
            }
        });
    }

    self.UsuariosFiltrados = ko.computed(function () {
        return ko.utils.arrayFilter(self.ListaUsuarios(), function (Usu) {
            var bool = false;
            if ((Usu.usuario().indexOf(self.UsuarioFilter().toUpperCase()) !== -1 || self.UsuarioFilter() == "" || self.UsuarioFilter() == undefined)
                &&
                (Usu.nombre().indexOf(self.NombreFilter().toUpperCase()) !== -1 || self.NombreFilter() == "") || self.NombreFilter() == undefined)
                bool = true;
            else {
                bool = false;
            }
            return bool;
        });
    });
}

var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);

</script>
