﻿@using BoticaSanGabriel.Extenciones;
@model BoticaSanGabriel.ViewModels.Venta.VentaViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Ventas</strong>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <nav role="navigation" class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse">
                                <div role="search" class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" placeholder="Buscar" data-bind="value: Filtrar" class="form-control">
                                    </div>
                                    <button class="btn btn-grey">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-grey">
                        <div class="panel-body">
                            <table class="table table-hover-color">
                                <thead>
                                    <tr>
                                        <th>Codigo Producto</th>
                                        <th>Nombre</th>
                                        <th>Generico</th>
                                        <th>Precio</th>
                                        <th>Stock Disponible</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ProductosFiltrados.currentPageData">
                                    <tr data-bind=" attr: { class: StatusStock }, click: $parent.seleccionar">
                                        <td data-bind="event: { dblclick: $parent.DetalleProducto }, text: codigo"></td>
                                        <td data-bind="event: { dblclick: $parent.DetalleProducto }, text: nombre"></td>
                                        <td data-bind="event: { dblclick: $parent.DetalleProducto }, text: generico"></td>
                                        <td data-bind="event: { dblclick: $parent.DetalleProducto }, text: precioVenta"></td>
                                        <td data-bind="event: { dblclick: $parent.DetalleProducto }, text: StockCalculado"></td>
                                        <td>
                                            <input type="number" style="width:45px; height:25px" data-bind="value: Cantidadllevar, attr: { 'max': StockDisponible }, event: { 'change': $parent.ValidarCantidad }" min="0"/>
                                        </td>
                                        <td><i class="fa fa-cart-plus fa-5x" data-bind="click: $parent.AddPreVenta"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="pager">
                            <li><a href="#" data-bind="click: ProductosFiltrados.moveFirst">← Primero</a></li>
                            <li><a href="#" data-bind="click: ProductosFiltrados.movePrevious">Anterior</a></li>
                            <li><a href="#" data-bind="click: ProductosFiltrados.moveNext">Siguiente</a></li>
                            <li><a href="#" data-bind="click: ProductosFiltrados.moveLast">Ultimo →</a></li>
                            Pagina    
        <input class="pager" type="number" data-bind="value: ProductosFiltrados.currentPage, attr: { 'max': ProductosFiltrados.pageCount }" min="1">
                            de <span data-bind="text: ProductosFiltrados.pageCount"></span>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-grey">
                        <div class="panel-body">
                            <table class="table table-hover-color">
                                <thead>
                                    <tr>
                                        <th>Codigo Producto</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ListaVenta">
                                    <tr">
                                        <td data-bind="text: codigo"></td>
                                        <td data-bind="text: nombre"></td>
                                        <td data-bind="text: precioVenta"></td>
                                        <td data-bind="text: Cantidadllevar"></td>
                                        <td data-bind="text: SubTotal"></td>
                                        <td><i class="fa fa-trash-o" data-bind="click: $parent.DropPreVenta"></i></td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Cliente</label>
                        <div class="input-icon right">
                            <i class="fa fa-medkit"></i>
                            <input id="" type="text" data-bind="value: Cliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Total</label>
                        <div class="input-icon right">
                            <i class="fa fa-medkit"></i>
                            <input id="" type="text" data-bind="value: ImporteTotal" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block" data-bind="click: GenerarVenta">
                        Generar Venta</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-DetalleProducto" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;</button>
                    <h4 class="modal-title">Detalle Producto</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body pal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Codigo</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().codigo" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-medkit"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().nombre" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Laboratorio</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-h-square"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().laboratorio" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Generico</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-stethoscope"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().generico" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Unidad de Medida</label>
                                        <div class="input-icon right">
                                            <div class="input-icon right">
                                                <select class="form-control" disabled data-bind="options: ListaUnidadMedida,
                                                                                                optionsText: 'UnidadMedida',
                                                                                                optionsValue: 'idUnidadMedida',
                                                                                                value: ProductoSeleccionado().idUnidadMedida">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Precio de Venta</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-money"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().precioVenta" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Precio de Compra</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-money"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().precioCompra" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Stock Minimo</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-inbox"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().StockMinimo" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Ubicacion</label>
                                        <div class="input-icon right">
                                            <i class="fa fa-map-marker"></i>
                                            <input id="" type="text" data-bind="value: ProductoSeleccionado().ubicacion" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Descripción</label>
                                        <div class="input-icon right">
                                            <textarea id="" rows="5" data-bind="value: ProductoSeleccionado().descripcion" class="form-control" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    ko.extenders.paging = function (target, pageSize) {
        var _pageSize = ko.observable(pageSize || 10),
            // default pageSize to 10
            _currentPage = ko.observable(1); // default current page to 1
        target.pageSize = ko.computed({
            read: _pageSize,
            write: function (newValue) {
                if (newValue > 0) {
                    _pageSize(newValue);
                }
                else {
                    _pageSize(10);
                }
            }
        });

        target.currentPage = ko.computed({
            read: _currentPage,
            write: function (newValue) {
                if (newValue > target.pageCount()) {
                    _currentPage(target.pageCount());
                }
                else if (newValue <= 0) {
                    _currentPage(1);
                }
                else {
                    _currentPage(newValue);
                }
            }
        });

        target.pageCount = ko.computed(function () {
            return Math.ceil(target().length / target.pageSize()) || 1;
        });

        target.currentPageData = ko.computed(function () {
            var pageSize = _pageSize(),
                pageIndex = _currentPage(),
                startIndex = pageSize * (pageIndex - 1),
                endIndex = pageSize * pageIndex;

            return target().slice(startIndex, endIndex);
        });

        target.moveFirst = function () {
            target.currentPage(1);
        };
        target.movePrevious = function () {
            target.currentPage(target.currentPage() - 1);
        };
        target.moveNext = function () {
            target.currentPage(target.currentPage() + 1);
        };
        target.moveLast = function () {
            target.currentPage(target.pageCount());
        };

        return target;
    };

    ko.extenders.numeric = function (target, precision) {
        var result = ko.computed({
            read: target,
            write: function (newValue) {
                var current = target(),
                    roundingMultiplier = Math.pow(10, precision),
                    newValueAsNum = isNaN(newValue) ? 0 : parseFloat(+newValue),
                    valueToWrite = Math.round(newValueAsNum * roundingMultiplier) / roundingMultiplier;
                if (valueToWrite !== current) {
                    target(valueToWrite);
                } else {
                    if (newValue !== current) {
                        target.notifySubscribers(valueToWrite);
                    }
                }
            }
        }).extend({ notify: 'always' });
        result(target());
        return result;
    };

    function PreVenta(i) {
        var self = this;
        self.idProducto = ko.observable(i.idProducto); self.codigo = ko.observable(i.codigo);
        self.nombre = ko.observable(i.nombre);
        self.Cantidadllevar = ko.observable(i.Cantidadllevar); self.precioVenta = ko.observable(i.precioVenta);
        self.SubTotal = ko.computed(function () {
            return self.Cantidadllevar() * self.precioVenta();
        });
    }

    function PreVentaBE() {
        var self = this;
        self.idProducto = ko.observable(); self.codigo = ko.observable();
        self.nombre = ko.observable(); self.generico = ko.observable();
        self.Cantidadllevar = ko.observable(); self.precioVenta = ko.observable();
        self.SubTotal = ko.computed(function () {
            return self.Cantidadllevar() * self.precioVenta();
        });
    }

    function ProductoBE(i) {
        var self = this;
        self.idProducto = ko.observable(i.idProducto); self.codigo = ko.observable(i.codigo); self.nombre = ko.observable(i.nombre);
        self.laboratorio = ko.observable(i.laboratorio); self.generico = ko.observable(i.generico); self.idUnidadMedida = ko.observable(i.idUnidadMedida);
        self.UnidadMedida = ko.observable(i.UnidadMedida); self.precioVenta = ko.observable(i.precioVenta); self.precioCompra = ko.observable(i.precioCompra);
        self.StockMinimo = ko.observable(i.StockMinimo); self.ubicacion = ko.observable(i.ubicacion);
        self.descripcion = ko.observable(i.descripcion); self.StockMostrador = ko.observable(i.StockMostrador);
        self.StockAlmacen = ko.observable(i.StockAlmacen); self.StockTotal = ko.observable(i.StockTotal);
        self.Cantidadllevar = ko.observable(i.Cantidadllevar).extend({ numeric: 1 });
        self.StockDisponible = ko.observable(i.StockDisponible);
        self.StatusStock = ko.computed(function () {
            return self.StockDisponible() < self.StockMinimo() ? 'danger' : 'success';
        });
        self.StockCalculado = ko.computed(function () {
            return self.StockDisponible() - self.Cantidadllevar();
        });
        self.SubTotal = ko.computed(function () {
            return (self.Cantidadllevar() * self.precioVenta());
        });
    }

    function Producto() {
        var self = this;
        self.idProducto = ko.observable(); self.codigo = ko.observable(); self.nombre = ko.observable(); self.laboratorio = ko.observable();
        self.generico = ko.observable(); self.idUnidadMedida = ko.observable(); self.UnidadMedida = ko.observable();
        self.precioVenta = ko.observable().extend({ numeric: 2 }); self.precioCompra = ko.observable().extend({ numeric: 2 }); self.StockMinimo = ko.observable().extend({ numeric: 1 }); self.ubicacion = ko.observable();
        self.descripcion = ko.observable(); self.StockMostrador = ko.observable(); self.stockAlmacen = ko.observable(); self.Cantidadllevar = ko.observable().extend({ numeric: 1 });
        self.StockTotal = ko.observable();
    }

    function LoteBE(i) {
        var self = this;
        self.idLote = ko.observable(i.idLote); self.codigoLote = ko.observable(i.codigoLote); self.idProducto = ko.observable(i.idProducto);
        self.codigoProducto = ko.observable(i.codigoProducto); self.StockMostrador = ko.observable(i.StockMostrador).extend({ numeric: 1 });
        self.StockAlmacen = ko.observable(i.StockAlmacen).extend({ numeric: 1 }); self.fechaVencimiento = ko.observable(i.fechaVencimiento);
        self.cantidad = ko.observable(i.cantidad); self.nombre = ko.observable(i.nombre); self.DiferenciaDias = ko.observable(i.DiferenciaDias);
        self.StatusLote = ko.computed(function () {
            return self.DiferenciaDias() <= 30 ? 'danger' : 'success'
        });
    }

    function Lote() {
        var self = this;
        self.idLote = ko.observable(); self.codigoLote = ko.observable(); self.idProducto = ko.observable();
        self.codigoProducto = ko.observable(); self.StockMostrador = ko.observable().extend({ numeric: 1 });
        self.StockAlmacen = ko.observable().extend({ numeric: 1 }); self.fechaVencimiento = ko.observable();
        self.cantidad = ko.observable(); self.nombre = ko.observable();
    }

    function ViewModel(model) {
        var self = this;

        self.ListaProductos = ko.observableArray(ko.utils.arrayMap(model.Venta.ListaProductos, function (i) {
            return new ProductoBE(i)
        })).extend({ paging: 10 });

        self.ListaVenta = ko.observableArray(ko.utils.arrayMap(model.Venta.ListaPreVenta, function (i) {
            return new PreVenta(i)
        }));

        self.ListaPrueba = ko.observableArray();

        self.ListaLotes = ko.observableArray();

        self.ListaUnidadMedida = ko.observableArray(model.Venta.ListUnidadMedida);

        self.ProductoSeleccionado = ko.observable(new Producto());

        self.Cliente = ko.observable("");

        self.seleccionar = function (item) {
            self.ProductoSeleccionado(item);
        };

        self.DetalleProducto = function (item) {
            self.ProductoSeleccionado(item);
            $("#modal-DetalleProducto").modal();
        };

        self.ValidarCantidad = function (item) {
            if (item.Cantidadllevar() > item.StockDisponible())
                item.Cantidadllevar(item.StockDisponible());
        }

        self.AddPreVenta = function (item) {
            var validDoble = true;
            for (var i = 0; i < self.ListaVenta().length; i++) {
                if (self.ListaVenta()[i].codigo() == item.codigo()) {
                    var total = self.ListaVenta()[i].Cantidadllevar() + item.Cantidadllevar();

                    item.Cantidadllevar(total);
                    validDoble = false;
                    if (item.Cantidadllevar() > item.StockDisponible()) {
                        item.Cantidadllevar(item.StockDisponible());
                        self.ListaVenta()[i].Cantidadllevar(item.StockDisponible());
                    }
                    else {
                        self.ListaVenta()[i].Cantidadllevar(total);
                    }
                    break;
                }
            }
            if (item.Cantidadllevar() > 0) {
                if (validDoble) {
                    data = ko.toJSON(item);
                    $.ajax({
                        url: '@Url.Action("ConvertirObjecto", "Venta")',
                        dataType: "json",
                        contentType: "application/json",
                        type: "POST",
                        data: data,
                        success: function (result) {
                            self.ListaVenta.push(new PreVenta(result.data));
                        }
                    });
                }
            }
            else
                alert('Colocar la Cantidad por favor!');
        }

        self.DropPreVenta = function (item) {
            var ValidarVenta = confirm("Seguro de quitar este producto de la Preventa?");
            if (ValidarVenta) {
                self.ListaVenta.remove(item);
            }
        }

        self.ImporteTotal = ko.computed(function () {
            var ImpoTotal = 0;
            for (var i = 0; i < self.ListaVenta().length; i++) {
                ImpoTotal += self.ListaVenta()[i].SubTotal();
            }
            return ImpoTotal;
        });

        self.Filtrar = ko.observable("");

        self.ProductosFiltrados = ko.computed(function () {
            return ko.utils.arrayFilter(self.ListaProductos(), function (Pro) {
                var bool = false;
                if ((Pro.codigo().indexOf(self.Filtrar().toUpperCase()) !== -1 ||
                     Pro.nombre().indexOf(self.Filtrar().toUpperCase()) !== -1 ||
                     self.Filtrar() == ""))
                    bool = true;
                else bool = false;
                return bool;
            });
        }).extend({ paging: 10 });

        self.ObtenerLote = function () {
            var data = ko.toJSON({ Producto: self.ProductoSeleccionado() });
            $.ajax({
                url: '@Url.Action("ObtenerLote", "Venta")',
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.ok) {
                        self.ListaLotes(new Array());
                        $.each(result.data, function (index, item) {
                            self.ListaLotes.push(new LoteBE(item));
                        });

                    }
                    else {
                        DivAlert('D', result.mensaje);
                    }
                }
            });
        }

        self.GenerarVenta = function () {
            if (self.ListaVenta().length > 0) {
                var ValidarVenta = confirm("Seguro de Generar la Venta?");
                if (ValidarVenta) {
                    var data = ko.toJSON({ ListaPreVenta: self.ListaVenta(), Cliente: self.Cliente() });
                    $.ajax({
                        url: '@Url.Action("GenerarVenta", "Venta")',
                        dataType: "json",
                        contentType: "application/json",
                        type: "POST",
                        data: data,
                        success: function (result) {
                            //self.ListaVenta.push(new PreVenta(result.data));
                        }
                    });
                }
            }
            else {
                DivAlert('W', 'Agregar Productos a la Preventa!!');
            }
        }

    }

    var model = new ViewModel(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(model);
</script>
